@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ececec;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 1.5rem;
  cursor: none;
}

@layer components {
  .cursor-outer {
    height: 4vw;
    width: 4vw;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid #e32636;
    border-radius: 50%;
    pointer-events: none;
    z-index: -100;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .cursor-inner {
    height: 8px;
    width: 8px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e32636;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2000;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .image-container {
    width: 40%;
    height: 60vh;
    position: relative;
    overflow: hidden;
  }

  .image-container:nth-child(1) .image-parallax {
    background-image: url("/images/project-1.jpg");
  }

  .image-container:nth-child(2) {
    margin-top: 16rem;
  }
  .image-container:nth-child(2) .image-parallax {
    background-image: url("/images/project-3.jpg");
  }

  .image-container:nth-child(3) {
    margin-top: 6rem;
  }
  .image-container:nth-child(3) .image-parallax {
    background-image: url("/images/project-2.jpg");
  }

  .image-container:nth-child(4) {
    margin-top: 20rem;
  }
  .image-container:nth-child(4) .image-parallax {
    background-image: url("/images/project-4.jpg");
  }

  .image-parallax {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
  }
}
